src/AmazingNewAccessoryLogic/packages
src/AmazingNewAccessoryLogic/KK_AmazingNewAccessoryLogic/bin
src/AmazingNewAccessoryLogic/KK_AmazingNewAccessoryLogic/obj
src/AmazingNewAccessoryLogic/KKS_AmazingNewAccessoryLogic/bin
src/AmazingNewAccessoryLogic/KKS_AmazingNewAccessoryLogic/obj
src/AmazingNewAccessoryLogic/AmazingNewAccessoryLogic/bin
src/AmazingNewAccessoryLogic/AmazingNewAccessoryLogic/obj
.vscode
.vs